@import '~bootstrap/scss/bootstrap';

h1 {
  text-align: center;
  color: #308dff;
}

.form-row {
  width: 50%;
  max-width: 465px;
  margin: 0 auto;
  text-align: center;
  background-color: #a4d2fc;
  border-radius: 5px;
  padding: 5px;
  height:300px;
}

.container {
  margin-top: 10px;
}

#create-quiz-form, #change-quiz-form {
  background-color: #a4d2fc ;
  padding: 10px;
  max-width: 690px;
  margin: 0 auto;
  border-radius: 5px;
}

#display-quizzes {
  overflow-y: scroll;
  margin: 0 auto;
}

.myQuiz {
  background-color: white;
  border-radius: 5px;
  border: solid gray;
  width: 50%;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

.del-row {
  background-color: #a4d2fc;
  border-radius: 5px;
}

#myTest {
  background-color: #a4d2fc;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
}
